<header>
    <mat-toolbar>        
        <span>User App</span>
        <span class="example-spacer"></span>
        <!-- <button *ngIf="session.isLoggedIn()" routerLink="quests" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>error</mat-icon>
        </button>
        <button *ngIf="session.isLoggedIn()" routerLink="stats" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>assessment</mat-icon>
        </button>
        <button *ngIf="session.isLoggedIn()" routerLink="equipment" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>accessibility</mat-icon>
        </button> -->
        
        <button *ngIf="!isUserLoggedIn" routerLink="login" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>login</mat-icon>
        </button>
        <button *ngIf="!isUserLoggedIn" routerLink="register" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>add</mat-icon>
        </button>        
        <button *ngIf="isUserLoggedIn" routerLink="login" (click)="logout()" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>power_settings_new</mat-icon>
        </button>
    </mat-toolbar>
</header>